@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 


$fantasy: #FCF6F3;
$Valencia: #DE4945;
$raw-sienna: #ef5e29;
$orient: #026787;
$dovegray: #565656;
$shakespeare: #5FB0D9;
$gold: #ffd700;
$red: #de3f39;
$cream: #fffdd0;
$faded: #639BCE;
$blue: #2fd1e6;
$black: #616161;
$orange: #f56857;

@font-face {
	font-family: Marianina;
	src: url('/fonts/marianina/marianina.ttf');
}

@font-face {
font-family: 'Avenir-dc';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('/fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff');
}

body {
	font-family: 'Marianina', serif;
	color: $black;

}
ul{
	padding: 0;
}

ul li {
	list-style: none;
}
a, a:hover{
	text-decoration: none !important;
}
p{
	color: #5D6769;
	font-family: 'Lato', serif !important;
	font-size: 14px;

}
i {
	margin-left: 10px;
	margin-right: 10px;
	color: #6280a2;
}
hr {
	margin: 0 auto;
}
.background{

    width: 100%;
    height: 100%;
	background-color: $blue;

}

.header {
   position: relative;
   margin: 0 auto;
   margin-top: 70px;
}

h1.header-title {
	font-size: 121px;
	padding: 0;
	margin: 0;	
	color: #444444;
	text-align: left;
}

h2.header-subtitle {
	color: #444444;
	padding: 10px;
	margin: 0;
	letter-spacing: 7px;
	border: 3px solid #444444;
	border-radius: 5px;
	width: auto;
	float: left;
	cursor: pointer;
	transition: background-color 1s ease;

}
h2.header-subtitle a {
	color: #444444;
}
h2.header-subtitle:hover{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer
}


hr{
	max-width: 60%;
}

.menu {
 background-color: #2fd1e6;
}

ul.menu li{
	display: inline-block;
	padding: 0 40px;
	text-align: center;
	width: 49%;
}
ul.menu li h2 a {
	color: $faded;
	letter-spacing: 3px;
	text-transform: uppercase;
}

ul.menu li h2 a:hover {
   color: #ccc;
}

/** BLOG */

.blog {
 background-color: white;
 color: #5D6769;
}

.logo {
 font-size: 52px;
 // border-bottom: 5px dotted #ef5e29;	
}


.content-set {
	margin-top: 20px;
}

.content-block {
	margin-bottom: 0;
    border-radius: 3px;
    height: 200px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.8);
}
.content-block-thumbnail {
    text-align: center;
    margin-bottom: 34px;
    font-size: 6em;
    color: #a26462;
    position: absolute;
    line-height: 1em;
    top: 20%;
    left: 50%;
    margin-left: -41px;

}


.content-block-desctiption {
	 color: #b52a2f;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 5px;
    font-size: .8em;
    font-weight: 700;

}
.content-block-title {
	color: #fff;
	text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 270px;
    line-height: 1.2em;
    color: #fff;
    position: relative;
}

.content-block-announcement {
	color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	z-index: 2;
	top: 20%;


}

.sidebar {
	border: 1px dotted #b52a2f;
	border-radius: 10px;
	padding: 20px 0;
}

footer{
	position: relative;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #f4f4f4;
	margin-top: 80px;
}
.sidebar i {
	margin-left: 0;

	font-size: 24px;
}
.sidebar li h3 {

}


/**** PROJECTS ****/

header {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: $orange;
}

header .header-logo {
	margin: 30px 0 0 0;
	padding: 0;
	color: white;
}

.post {
	height: auto;
	padding-bottom: 40px;
}
.title {
	padding: 40px 0 0 0;
}
.title h1{
	font-size: 94px;
	padding: 0;
	margin: 0;	
	color: $black;
	text-align: left;
}

.breadcrumb {
	background-color: transparent;
	color: $raw-sienna;
	padding: 0;
	text-transform: capitalize;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 18px;
}

.post-image {
	position: relative;
	height: 200px;
	width: 100%;

}



.post-image {
	
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 15%;
    background-size: cover;

} 

.single-post-banner-title h1, .single-post-banner-title h3 {
	position: relative;
	z-index: 1;
	color: #f4f4f4;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;

}

.single-post-banner-title h1{
	font-size: 94px;
    transform: translateY(30%);
}

.single-post-banner-title h3 {
	font-size: 32px;
	transform: translateY(70%);
}

.archieve-post .post-image-icon, .archieve-post .post-image-overlay{
    height: 200px;
}
.single-post .post-image-icon, .single-post .post-image-overlay {
	height: 300px;
	z-index: -1;
}
.single-post .post-image{
	background-color: $blue;
	height: 300px;
	margin-bottom: 40px;
}
.single-post p {
	font-size: 18px;
}
.post-image-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 2;
}
.post-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	z-index: 1;
}

.post-title {
	font-size: 56px;
	padding: 0;
	color: $black;
}
.post-date-box{
	float: right;
}
.post-date {
	float: right;
	font-size: 32px;
	padding: 20px 0 0 0;
	color: $black;
}

.post-tags {
	color: $blue;
	
} 

.post-tags h5 {
	display: inline-block;
	font-size: 24px;
	border-right: 1px solid $black;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.post-tags h5:hover{
	color: #00CDE6;
}

.post-tags h5:first-child {
	padding-left: 0;
}

.post-tags h5:last-child {
	border-right: none;
}



.post-content {
	padding-top: 15px;
}
.post-readmore{
	margin-top: 15px;
	box-shadow: none;
	float: left;
	
}
.btn-primary:hover {
  
  background-color: rgba(0,0,0,0.1);
}
.btn-primary{
  color: $orange;
  font-family: 'Lato';
  border: 2px solid $orange;
  padding: 10px;
  border-color: $orange;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease;
  background-color: white;
}
.btn-primary:active, .btn-primary:link, .btn-primary:visited{
	
	color: $orange;
	
}

.btn-primary:hover{
  border: 2px solid $black;

  color: $black;

}

.form {

 font-family: 'lato';
}

.form  input {
 height: 40px;
 padding-left: 15px;
}

.flash-message {
	background-color: #f4f4f4;
    color: #333;
    font-family: 'Lato';
    padding: 10px 0;
}

.flash-tick {
	border: 1px solid #4dc247;
    padding: 5px;
    border-radius: 5px;
}


.link {
	color: $orange;
}

.link h5 {
	font-family: 'Lato';
	font-size: 24px;
}

